* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

body {
    background-color: #7699D4;
    font-family: 'Lato', cursive;
}

.container {
    background-color: #480355;
    margin: 25px 50px 25px 50px;
    display: flex;
    border-radius: 50px;
}

.div-logo {
    background-color: #480355;

}

.title-logo {
    color: white;
    font-family: 'Courgette', cursive;
    text-align: center;
    padding: 10px;
}

.informacao {
    width: 100vh;
    margin: 30px;
    padding: 10px;
    text-align: justify;
}

.informacao {
    color: white;
}

.text {
    padding: 10px;
}

div.informacao > p {
    margin-left: 10px;
}

#oldValue {
    text-decoration: line-through;
    margin: 10px 0px -20px 0px;
    color: red;
}

#value {
    font-size: 50px;
    color: yellow;
    text-decoration: underline;
}

.buttonToBuy {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: rgb(43, 180, 43);
}


.textbutton {
    text-decoration: none;
    color: white;
}


#title-img {
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
}

.info-image {
    width: 100vh;
    margin: 10px;
    padding: 10px;
}

.image {
    border-radius: 30px;
    width: 600px;
    height: 500px;
}

footer {
    background-color: #480355;
    color: azure;
    font-family: 'Lato', cursive;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}